{:deps true
 :dev-http {8585 {:root "."
                  :host "0.0.0.0"}}
 :builds
 {:app {:target :browser
        :output-dir "js/compiled"
        :asset-path "/js/compiled"
        :modules {:main {:init-fn todomvc.app/init!}}}

  :test {:target    :node-test
         :output-to "out/tests.js"
         :ns-regexp "-test$"
         :autorun   true
         :devtools {:preloads [todomvc.test-reporter]}}

  :test-compile {:target    :node-test
                 :output-to "out/tests.js"
                 :ns-regexp "-test$"}}}